section.content

  .card
    .ds-frame__svg
      <svg viewBox="0 0 450 370" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M438.244 279.345L438 279.627V280V359.133L428.572 369H16.4283L1 352.816V18.1283L16.4448 1H436.549L449 15.0856V266.934L438.244 279.345Z" fill="inherit" stroke="inherit" stroke-width="inherit"/></svg>


